.box {
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 7px;
}
.box span {
  width: 10px;
  height: 1px;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease;
}
.box span:nth-child(1) {
  top: 0;
}
.box span:nth-child(2) {
  top: 3px;
}
.box span:nth-child(3) {
  top: 6px;
}

.box:hover span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  position: absolute;
  background-color: red;
}
.box:hover span:nth-child(2) {
  background-color: transparent;
}
.box:hover span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  position: absolute;
  background-color: red;
}
