/* W3schools */

body {
  margin: 0;
  padding: 0;
  /* background-color: #eee; */
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: transparent;
}

.slider-container {
  position: relative;
  height: 425px;
}

.number-text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-size: 20px;
}

.slider-container img {
  width: 100%;
  height: 425px;
  position: absolute;
  z-index: -10;
  background-size: cover;
}

.caption {
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 40px;
  padding: 8px 12px;
  left: 50%;
  transform: translateX(-50%);
}

.prev,
.next {
  top: 50%;
  position: absolute;
  padding: 15px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
}

.prev {
  transform: translateY(-50%);
  border-radius: 0 3px 3px 0;
}

.next {
  top: 50%;
  transform: translate(-100%, -50%);
  left: 100%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0, 50%);
}

.dot-box {
  text-align: center;
  margin-top: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Elzero */

.container-slider {
  position: relative;
  margin: 10px auto 50px;
  width: 400px;
  height: 265px;
}

.container-slider img {
  width: 400px;
  height: 265px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}

.container-slider img.active {
  opacity: 1;
}

.container-slider .slider-number {
  color: white;
  background-color: rgb(0, 0, 0, 50%);
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.slider-controls {
  width: 400px;
  margin: 50px auto 100px;
  position: relative;
}

.prev-slider,
.next-slider {
  position: absolute;
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 10px;
  width: 20%;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.next-slider {
  right: 0;
}

.prev-slider.disabled,
.next-slider.disabled {
  background-color: #00968780;
  cursor: no-drop;
}

.slider-controls .indecators {
  width: 60%;
  position: absolute;
  height: 38px;
  left: 20%;
}

.slider-controls .indecators #pagination-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  height: 38px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.slider-controls .indecators #pagination-ul li {
  background-color: #f6f6f6;
  color: #333;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.slider-controls .indecators #pagination-ul li.active {
  color: #fff;
  background-color: #009688;
}
