body {
  font-family: Arial, Helvetica, sans-serif;
}

.tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs li {
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  transition: .3s;
}

.tabs li:not(:last-child) {
  border-right: 2px solid #fff;
}

.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
}

.content {
  background-color: #ddd;
}

.content > p {
  padding: 20px;
  margin: 0;
  display: none;
}

.content > p.active {
  display: block;
}