body {
  margin: 0;
  font-family: "Work Sans";
}

.text {
  width: fit-content;
  margin: 40px auto;
  font-size: 60px;
  position: relative;
  text-align: center;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #333;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s;
  -webkit-text-fill-color: #ff5722;
  width: 0;
  overflow: hidden;
}

.text:hover::before {
  width: 100%;
}